{% extends 'layouts/base.html.twig' %}

{% block title %} Accueil | {{ parent() }} {% endblock %}

{% block body %}
{# Zone du carousel avec backgroung #}
<div id="carousel-custom-bg" class="shadow pb-5">
    {# Carousel #}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
            {# Best practice #}
            <div class="carousel-item active">
                <img src="{{ asset('build/images/homepage/best practice.jpg') | imagine_filter("carousel_container_thumb") }}"
                     class="d-block w-75 mx-auto" alt="Best Practice Image">
            </div>
            {# Carreer #}
            <div class="carousel-item">
                <img src="{{ asset('build/images/homepage/carreer.jpg') | imagine_filter("carousel_container_thumb") }}"
                     class="d-block w-75 mx-auto" alt="Career Image">
            </div>
            {# Consulting #}
            <div class="carousel-item">
                <img src="{{ asset('build/images/homepage/consulting.jpg') | imagine_filter("carousel_container_thumb") }}"
                     class="d-block w-75 mx-auto" alt="Consulting image">
            </div>
            {# Job search #}
            <div class="carousel-item">
                <img src="{{ asset('build/images/homepage/job search.jpg') | imagine_filter("carousel_container_thumb") }}"
                     class="d-block w-75 mx-auto" alt="Job Search Image">
            </div>
            {# success #}
            <div class="carousel-item">
                <img src="{{ asset('build/images/homepage/success.jpg') | imagine_filter("carousel_container_thumb") }}"
                     class="d-block w-75 mx-auto" alt="Success Image">
            </div>
            {# Bilan compétences #}
            <div class="carousel-item">
                <img src="{{ asset('build/images/homepage/bilan competence.png') | imagine_filter("carousel_container_thumb") }}"
                     class="d-block w-75 mx-auto" alt="Bilan Compétences Image">
            </div>
            {# DataDock #}
            <div class="carousel-item">
                <img src="{{ asset('build/images/homepage/datadock.png') | imagine_filter("carousel_container_thumb") }}"
                     class="d-block w-75 mx-auto" alt="Data Dock Image">
            </div>
            {# I-cert #}
            <div class="carousel-item">
                <img src="{{ asset('build/images/homepage/i-cert.png') | imagine_filter("carousel_container_thumb") }}"
                     class="d-block w-75 mx-auto" alt="I-Cert Image">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {# /Carousel #}
</div>

{# Section : presentation #}
<section class="presentation">
    <div class="container">
        {# Introduction #}
        <div class="text-center text-bg">
            <h1 class="display-4 text-uppercase mb-4">
                <span id="logo-left">resilience-</span><span id="logo-right">rh</span>                
            </h1>
            <h2 class="h5 mb-4">
                <em>
                    Vous accompagner durablement
                </em>
            </h2>
            <h2 class="h5 mb-4">
                <em>
                    dans vos projets d'entreprise ou individuels
                </em>
            </h2>
            <h2 class="h5 mb-5">
                <em>
                    en vous proposant des solutions souples et adaptées
                </em>
            </h2>
            <a href="{{ path('app_about_us') }}" class="btn btn-custom-rounded btn-lg">
                À propos
                <i class="fas fa-angle-double-right ml-2"></i>
            </a>
        </div>
    </div>
</section>

{# Parallax start : training #}
<section>
    <div class="bg-img-training parallax">
        <div class="h2 caption">
            <span class="border text-uppercase">
                Nos formations
            </span>
        </div>
    </div>
    {# Content section : trainings links #}
    <div class="container content-layout">
        <h5 class="text-center">
            Organisme de formation référencé sur dataDock et certifié Qualité.
        </h5>
        {# Cards formation #}
        <div class="row justify-content-between text-center mt-5">
            {# Card formations RH #}
            <div class="col-md-5 mb-3">
                <div class="card h-100 rounded">
                    <div class="card-header bg-transparent border-0">
                        <i class="fas fa-users fa-3x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ressources Humaines</h5>
                        <p class="card-text">
                            <strong class="text-uppercase">{{ project.name }}</strong> se veut être votre partenaire
                            dans le domaine de la Formation en Ressources Humaines, de l'ingénierie pédagogique à
                            l'animation.
                        </p>

                    </div>
                    <div class="p-2">
                        <a href="{{ path('app_training', {slug: 'rh'}) }}" class="btn btn-custom-color btn-lg btn-block">
                            Voir ces formations
                        </a>
                    </div>
                </div>
            </div>
            {# Card formations autres #}
            <div class="col-md-5 mb-3">
                <div class="card h-100 rounde">
                    <div class="card-header bg-transparent border-0">
                        <i class="fas fa-chalkboard-teacher fa-3x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Autres Formations</h5>
                        <p class="card-text">
                            <strong class="text-uppercase">{{ project.name }}</strong> propose également d'autres
                            formations dans d'autres domaines. La conception d'un module doit répondre à vos attentes et
                            à un besoin. Chaque formation est adaptable à vos besoins et attentes.
                        </p>
                    </div>
                    <div class="p-2">
                        <a href="{{ path('app_training', {slug: 'other'}) }}" class="btn btn-custom-color btn-lg btn-block">
                            Voir ces formations
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# Image element : our solutions #}
<section> 
    <div class="bg-img-oursolutions parallax">
        <div class="h2 caption">
            <span class="border text-uppercase">
                Nos solutions
            </span>
        </div>
    </div>
    {# Content section : other solutions #}
    <div class="container content-layout">
        {# Cards our solutions #}
        <div class="row row-cols-1 row-cols-md-3 justify-content-around text-center">
            {# Card Recrutement #}
            <div class="col-md-4 mb-5">
                <div class="card card-hover h-100 rounded shadow">
                    <div class="card-header bg-transparent border-0">
                        <i class="fas fa-newspaper fa-3x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Espace Recrutement</h5>
                    </div>
                    <div class="p-2">
                        <a href="{{ path('app_recruitment') }}" class="btn btn-custom-color btn-lg btn-block">
                            Voir
                        </a>
                    </div>
                </div>
            </div>
            {# Card Skills assessment #}
            <div class="col-md-4 mb-5">
                <div class="card card-hover h-100 rounded shadow">
                    <div class="card-header bg-transparent border-0">
                        <i class="fas fa-question-circle fa-3x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Bilan de compétences</h5>
                    </div>
                    <div class="p-2">
                        <a href="{{ path('app_skills_assessment') }}" class="btn btn-custom-color btn-lg btn-block">
                            Voir
                        </a>
                    </div>
                </div>
            </div>
            {# Card Carreer #}
            <div class="col-md-4 mb-5">
                <div class="card card-hover h-100 rounded shadow">
                    <div class="card-header bg-transparent border-0">
                        <i class="fas fa-file-pdf fa-3x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Espace Carrière</h5>
                    </div>
                    <div class="p-2">
                        <a href="{{ path('app_career') }}" class="btn btn-custom-color btn-lg btn-block">
                            Voir
                        </a>
                    </div>
                </div>
            </div>
            {# Card Orientation #}
            <div class="col-md-4 mb-5">
                <div class="card card-hover h-100 rounded shadow">
                    <div class="card-header bg-transparent border-0">
                        <i class="fas fa-map-signs fa-3x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Espace Orientation</h5>
                    </div>
                    <div class="p-2">
                        <a href="{{ path('app_orientation') }}" class="btn btn-custom-color btn-lg btn-block">
                            Voir
                        </a>
                    </div>
                </div>
            </div>
            {# Card Job opportunities #}
            <div class="col-md-4 mb-5">
                <div class="card card-hover h-100 rounded shadow">
                    <div class="card-header bg-transparent border-0">
                        <i class="fas fa-user-tie fa-3x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Offre(s) d'Emploi</h5>
                    </div>
                    <div class="p-2">
                        <a href="{{ path('app_job_offer') }}" class="btn btn-custom-color btn-lg btn-block">
                            Voir
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# Image element : feedback #}
<section>
    <div class="bg-img-feedback parallax">
        <div class="h2 caption">
            <span class="border text-uppercase">
                Témoignages
            </span>
        </div>
    </div>
    {# Content section : feedback #}
    <div class="container content-layout">
        <h6 class="text-center">
            Voici ce qu'ils en disent...
        </h6>
    
        {# Récupération du nombre de témoignages #}
        {% set testimonies_count = testimonies | length %}
        {# Si la tables Témoignages n'est pas vide on affiche les témoignages #}
        {% if testimonies_count > 0 %}
        {# Affichage de 3 témoignages #}
        <div class="row justify-content-around text-center mt-5">
            {% for testimonial in testimonies %}
            <div class="col-md-3 mb-3">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ testimonial.initials }}
                        </h5>
                        <p class="card-text text-right">
                            <small class="text-muted">
                                {{ testimonial.job }}
                            </small>
                        </p>
                        <div class="card-text text-muted">
                            {{ testimonial.testimony|raw }}
                        </div>
                        <p>
                            <i class="fas fa-quote-right"></i>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-danger mt-5 text-center">
            <p class="lead mt-3">
                Il y a {{ testimonies_count }} Témoignages à afficher pour le moment.
            </p>
        </div>
        {% endif %}
    
        {# Bouton de redirection vers la page des témoignages #}
        <div class="row text-center mt-5">
            <div class="col-md-12">
                <a href="{{ path('app_testimonies') }}" class="btn btn-lg btn-outline-custom">
                    Pas encore sûr ? Découvrez plus de témoignages
                    <i class="fas fa-angle-double-right ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>

{# Parallax end : training #}
<section>
<div class="bg-img-training parallax">
</div>
</section>

{% endblock %}