{% extends 'layouts/base.html.twig' %}

{% block title %} Publication | {{ parent() }} {% endblock %}

{% block body %}
{# Conteneur de la page #}
<div class="container">
    {# Page header #}
    <div class="page-header">
        <h1 class="text-center">
            <i class="fas fa-thumbtack"></i>
            <strong class="text-uppercase">
                {{ project.name }}
            </strong>
            communique et partage...
        </h1>
    </div>

    {# Section : Publication list #}
    <section class="my-5 p-2">
        <div class="row">
            {% set publications_count = publications | length %}
            {# Si la tables Publications n'est pas vide on affiche les publications #}
            {% if publications_count > 0 %}
            {% for publication in publications %}
            <article class="col-12 mb-4">
                {# Date #}
                <p class="lead">
                    Publié le
                    <time datetime="{{ publication.createdAt|date('Y-m-d') }}">
                        {{ publication.createdAt | date('Y-m-d') }}
                    </time>
                </p>                

                {# Title #}
                <h2>
                    {{ publication.title }}
                </h2>
                
                {# Author #}
                <p class="blockquote-footer">
                    par
                    {{ project.name }}
                </p>

                <hr>                

                {# Image #}
                <img src="{{ (publication.imageName ? vich_uploader_asset(publication) : asset('build/images/default/placeholder.jpg')) | imagine_filter("rectangular_publication_thumb") }}"
                     class="w-100 shadow rounded" alt="Image pour illustrer {{publication.title}}">

                <hr>

                {# Contenu #}
                <div class="mb-5 text-justify">
                    {{ publication.description | raw }}
                </div>
            </article>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger mt-5 text-center">
                <p class="lead mt-3">Il y a {{ publications_count }} publications à afficher pour le moment.</p>
            </div>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}