<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

    <head>
        {# Default meta tags #}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Franck Jakubowski">
        <meta name="description"
              content="Site vitrine du cabinet conseil résilience-rh spécialisédans la Formation, l’Evaluation, le Recrutement et l’Accompagnement dans la recherche d’Emploi.">
        {#  Favicons #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {# Title #}
        <title>
            {% block title %} {{ project.name }} {% endblock %}
        </title>

        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <div id="page-container">
            {# Scroll to top button #}
            <button id="scrollTopBtn" title="Haut de page">
                <i class="fas fa-arrow-circle-up"></i>
            </button>

            <header class="fixed-top py-0">
                {% block header %}
                {# Navbar import #}
                {{ include('layouts/partials/_nav.html.twig') }}
                {% endblock %}
            </header>

            {# Message flash area #}
            {{ include('layouts/partials/_flash_messages.html.twig') }}
            {# /Message flash area #}

            <main role="main">
                {% block body %}{% endblock %}
            </main>

            <footer>
                {% block footer %}
                {# footer import #}
                {{ include('layouts/partials/_footer.html.twig') }}
                {# /footer import #}
                {% endblock %}
            </footer>
        </div>

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </body>

</html>