{# navbar #}
{% if is_granted('ROLE_ADMIN') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom-navbar shadow">
        {% endif %}
        <div class="container py-2">
            {# navbar brand & logo #}
            <div class="logo-container">
                <a class="navbar-brand" href="{{ path('app_home') }}">
                    <img class="img-fluid"
                         src="{{ asset('build/images/default/Resilience-RH_small.png') | imagine_filter('rectangular_logo_thumb') }}"
                         alt="Logo {{ project.name }}">
                </a>
            </div>
            {# /navbar brand & logo #}

            {# collapse button #}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {# /collapse button #}

            {# collapsible content #}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {# Navigation bar menu #}
                <ul class="navbar-nav ml-auto">
                    {# Accueil #}
                    <li class="nav-item {{ set_active_route('app_home') }}">
                        <a class="nav-link" href="{{ path('app_home') }}">
                            Accueil
                        </a>
                    </li>
                    {# Resilence-rh dropdown #}
                    <li
                        class="nav-item dropdown {{ set_active_route('app_about_us') }} {{ set_active_route('app_testimonies') }} {{ set_active_route('app_our_clients') }} {{ set_active_route('app_our_partners') }}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuAbout" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ project.name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuAbout">
                            <a class="dropdown-item" href="{{ path('app_about_us') }}">À propos</a>
                            <a class="dropdown-item" href="{{ path('app_testimonies') }}">Témoignages</a>
                            <a class="dropdown-item" href="{{ path('app_our_clients') }}">Nos Clients</a>
                            <a class="dropdown-item" href="{{ path('app_our_partners') }}">Nos Partenaires</a>
                        </div>
                    </li>
                    {# Nos solutions #}
                    <li
                        class="nav-item dropdown {{ set_active_route('app_training') }} {{ set_active_route('app_recruitment') }} {{ set_active_route('app_skills_assessment') }} {{ set_active_route('app_career') }} {{ set_active_route('app_orientation') }} {{ set_active_route('app_job_offer') }}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nos Solutions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_skills_assessment') }}">Bilan de Compétences</a>
                            <a class="dropdown-item" href="{{ path('app_training') }}">Espace Formation</a>
                            <a class="dropdown-item" href="{{ path('app_recruitment') }}">Espace Recrutement</a>
                            <a class="dropdown-item" href="{{ path('app_career') }}">Espace Carrière</a>
                            <a class="dropdown-item" href="{{ path('app_orientation') }}">Espace Orientation</a>
                            <a class="dropdown-item" href="{{ path('app_job_offer') }}">Offre(s) d'Emploi</a>
                        </div>
                    </li>
                    {# Publication #}
                    <li class="nav-item {{ set_active_route('app_publication') }}">
                        <a class="nav-link" href="{{ path('app_publication') }}">
                            Publication
                        </a>
                    </li>
                    {# Contact #}
                    <li class="nav-item {{ set_active_route('app_contact') }}">
                        <a class="nav-link" href="{{ path('app_contact') }}">
                            Contact
                        </a>
                    </li>
                    {# this link is only visible to an admin #}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown {{ set_active_route('app_admin_dashboard') }}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuAdmin" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuAdmin">
                            <a class="dropdown-item" href="{{ path('app_admin_dashboard') }}">Admin</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
                {# Navigation bar menu #}
            </div>
        </div>
    </nav>
    {# /navbar #}