{# navbar #}
{% if is_granted('ROLE_ADMIN') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-0">
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom-navbar fixed-top py-0">
        {% endif %}
        <div class="container pt-1 pb-3">
            {# navbar brand & logo #}
            <a class="navbar-brand text-uppercase" href="{{ path('app_home') }}">
                <img class="d-inline-block align-center"
                     src="{{ asset('build/images/default/r-rh-logo.png') | imagine_filter('rectangular_logo_thumb') }}"
                     alt="Logo {{ project.name }}">
            </a>
            {# /navbar brand & logo #}

            {# collapse button #}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {# /collapse button #}

            {# collapsible content #}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {# Left side of the navigation bar #}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            page1
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    {# this link is only visible to an admin #}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">GodMod
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {# /Left side of the navigation bar #}

                {# /Right side of the navigation bar #}
                <ul class="navbar-nav justify-content-end">
                    {# the links are only visible to a authenticated user #}
                    {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">
                            <i class="fas fa-user-circle"></i>
                            <span class="ml-2">{{ app.user.firstName }} {{ app.user.lastName }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#">
                            <i class="fas fa-door-open mr-2" aria-hidden="true"></i>
                            Logout
                        </a>
                    </li>
                    {% else %}
                    {# Login icon link #}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">
                            <i class="far fa-user" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {# /Right side of the navigation bar #}
            </div>
        </div>
    </nav>
    {# /navbar #}