{{ form_start(contactForm) }}

{# Row: firstname and lastname #}
<div class="row mb-3">
    {# Firstname #}
    <div class="col-md-6">
        <div>
            {{ form_row(contactForm.firstName) }}
        </div>
    </div>

    {# Lastname #}
    <div class="col-md-6">
        <div>
            {{ form_row(contactForm.lastName) }}
        </div>
    </div>
</div>

{# Row: phone and email #}
<div class="row mb-3">
    {# Phone #}
    <div class="col-md-6">
        <div>
            {{ form_row(contactForm.phone) }}
        </div>
    </div>

    {# Email #}
    <div class="col-md-6">
        <div>
            {{ form_row(contactForm.email) }}
        </div>
    </div>
</div>

{# Row: subject #}
<div class="row mb-3">
    <div class="col-md-12">
        <div>
            {{ form_row(contactForm.subject) }}
        </div>
    </div>
</div>

{# Row: upload #}
<div class="row mb-3">
    <div class="col-md-12">
        <div class="row mx-0">
            {{ form_label(contactForm.uploadFile, null, {
                                'label_attr': {'class': 'mr-2'}
                            }) 
                }}
            {{ form_help(contactForm.uploadFile) }}
        </div>
        {{ form_widget(contactForm.uploadFile, {
                'attr':  {
                    'placeholder': 'Choisissez un fichier',
                }
            }) }}

        <div class="form-error">
            {{ form_errors(contactForm.uploadFile) }}
        </div>
    </div>
</div>

{# Row: message #}
<div class="row mb-3">
    <div class="col-md-12">
        <div class="row mx-0">
            {{ form_label(contactForm.message, null, {
                'label_attr': {'class': 'mr-3'}
            }) }}
            {{ form_help(contactForm.message) }}
        </div>
        {{ form_widget(contactForm.message) }}

        <div class="form-error">
            {{ form_errors(contactForm.message) }}
        </div>
    </div>
</div>

{# CheckBox : RGPD #}
<div class="row mb-5 mx-0">
    <div class="col-md-12 bg-agreeTerms rounded p-3">
        {{ form_row(contactForm.agreeTerms) }}
    </div>
</div>

{# Button: send #}
<div class="row justify-content-around mt-4 mx-0">
    <button class="btn btn-custom-color btn-lg col-md-4 mb-3" type="submit">
        Envoyer
    </button>
    <button class="btn btn-light btn-lg col-md-4 mb-3" type="reset">
        Effacer
    </button>
</div>

{{ form_end(contactForm) }}