<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

    <head>
        {# Default meta tags #}
        <meta charset="UTF-8">
        {# Title #}
        <title>
            {% block title %}
            {{ formation.slug}} | {{ project.name }}
            {% endblock %}
        </title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/training-pdf.css')[1:] }}">
        {% endblock %}
    </head>

    <body class="d-flex flex-column">

        {# Footer du tableau #}
        <footer>
            <table>
                <tbody>
                    <tr class="text-muted">
                        <td class="column-left border-top-left">
                            <span class="xsmall">
                                {{ formation.title }}
                            </span>
                        </td>
                        <td class="border-top-right td-vertical-align text-right">
                            <span class="xsmall">
                                <a href="http://resilience-rh.com/">
                                    www.resilience.com
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </footer>

        {# Layout for PDF files #}
        <main role="main">

            <table>
                {# Entête du tableau : logos et titres #}
                <thead>
                    {# Logos #}
                    <tr>
                        <th class="column-left border-top-left pt-2">
                            {# uncomment the line ;extension=gd2 in the php.in file #}
                            <img src="{{ asset('build/images/default/Resilience-RH_small.png')[1:] }}" height="80"
                                 alt="{{ project.name }} logo">
                        </th>
                        <th class="border-top-right pt-2">
                            <img src="{{ asset('build/images/default/logo-datadock-pdf.png')[1:] }}" height="60"
                                 alt="Datadock logo" class="mr-3">

                            <img src="{{ asset('build/images/default/qualiopi-pdf.png')[1:] }}" height="60"
                                 alt="Qualiopi logo">
                        </th>
                    </tr>
                    {# Titres #}
                    <tr>
                        <th class="border-bottom-left">
                            <h2 class="py-1 m-0">
                                {{ formation.title }}
                            </h2>
                        </th>
                        <th class="border-bottom-right">
                            <h2 class="text-muted py-1 m-0">
                                Programme de formation
                            </h2>
                        </th>
                    </tr>
                </thead>
                {# Corps du tableau #}
                <tbody>
                    {# Row : objectifs & lieu #}
                    <tr class="td-vertical-align">
                        {# Left : objectifs #}
                        <td>
                            <h4 class="mb-1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;
                                Objectifs de la formation
                            </h4>
                            <div class="">
                                {{ formation.description | raw }}
                            </div>
                        </td>
                        {# Right : lieu #}
                        <td>
                            <h5 class="text-muted  mb-2">
                                Lieu :
                            </h5>
                            <div class="text-muted">
                                {{ formation.lieu | raw }}
                            </div>
                        </td>
                    </tr>
                    {# Row : public & nombre d'heures #}
                    <tr class="td-vertical-align">
                        {# Left : public #}
                        <td>
                            <h4 class="mb-1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;
                                Public
                            </h4>
                            <div>
                                {{ formation.public | raw }}
                            </div>
                        </td>
                        {# Right : nombre d'heures #}
                        <td>
                            <h5 class="text-muted mb-2">
                                Nombre d'heures de la formation :
                            </h5>
                            <div class="text-muted">
                                {{ formation.duree | raw }}
                            </div>
                        </td>
                    </tr>
                    {# Row : pédagogie & langue #}
                    <tr>
                        {# Left : pédagogie #}
                        <td class="td-vertical-align">
                            <h4 class="mb-1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;
                                Pédagogie, animation, programme
                            </h4>
                            <div>
                                {{ formation.pedagogie | raw }}
                            </div>
                        </td>
                        {# Right : langue #}
                        <td>
                            <h5 class="text-muted mb-2">
                                Langue :
                            </h5>
                            <div class="text-muted">
                                {{ formation.langue | raw }}
                            </div>
                        </td>
                    </tr>
                    {# Row : prérequis & intervenant #}
                    <tr class="td-vertical-align">
                        {# Left : prérequis #}
                        <td>
                            <h4 class="mb-1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;
                                Prérequis à la formation
                            </h4>
                            <div>
                                {{ formation.prerequis | raw }}
                            </div>
                        </td>
                        {# Right : intervenant #}
                        <td>
                            <h5 class="text-muted mb-2">
                                Intervenant :
                            </h5>
                            <div class="text-muted">
                                {{ formation.intervenant | raw }}
                            </div>
                        </td>
                    </tr>
                    {# Row : évaluation & contact #}
                    <tr>
                        {# Left : évaluation #}
                        <td class="td-vertical-align">
                            <h4 class="mb-1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;
                                Évaluation et/ou qualification
                            </h4>
                            <div>
                                {{ formation.evaluation | raw }}
                            </div>
                        </td>
                        {# Right : contact #}
                        <td>
                            <h5 class="text-muted mb-2">
                                Contact :
                            </h5>
                            <div class="text-muted">
                                {{ formation.contact | raw }}
                                <br>
                                <a href="mailto:info@resilience-rh.com">info@resilience-rh.com</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </main>
    </body>

</html>