{% extends 'layouts/base.html.twig' %}

{% block title %} Nos Formation | {{ parent() }} {% endblock %}

{% block body %}
{# Conteneur de la page #}
<div class="container">
    {# Page header #}
    <div class="page-header">
        <h1 class="text-center">
            <i class="fas fa-graduation-cap"></i>
            Partenaire de vos Formations
        </h1>
    </div>

    {# Section : Introduction & trainings buttons #}
    <section class="my-3 p-2">
        {# Introduction #}
        <div class="row">
            <div class="text-muted">
                <h2 class="text-center h5 mb-3">
                    Organisme de formation référencé sur dataDock et certifié Qualité
                </h2>
                <p>
                    <strong class="text-uppercase">
                        {{ project.name }}
                    </strong> se veut être votre partenaire dans le domaine de la Formation en Ressources Humaines, de
                    l'ingénierie pédagogique à l'animation
                </p>
                <p>
                    <strong class="text-uppercase">
                        {{ project.name }}
                    </strong> propose également d'autres formations dans d'autres domaines. La conception d'un module
                    doit répondre à vos attentes et à un besoin. Chaque formation est adaptable à vos besoins et
                    attentes.
                </p>
            </div>
        </div>
        {# Buttons #}
        <div class="row justify-content-around my-5">
            <a class="btn btn-outline-custom btn-lg col-md-4 mb-3" href="{{ path('app_training', {slug: 'rh'}) }}" role="button">
                Ressources Humaines
            </a>
            <a class="btn btn-outline-custom btn-lg col-md-4 mb-3" href="{{ path('app_training', {slug: 'other'}) }}" role="button">
                Autre
            </a>
        </div>
    </section>

    {# Section : Trainings list #}
    <section class="my-3 p-2">
        <h2>
            {{ titre }}
        </h2>
        {#  Recupère le nombre de formations #}
        {% set trainings_count = trainings | length %}
        {# Si la tables Partners n'est pas vide on affiche les partners #}
        {% if trainings_count > 0 %}
        {# Row trainings list #}
        <div class="row mt-5">
            {% for training in trainings %}
            {# Affiche le type de formation dans l'entête de la card #}
            {% if training.humanResources %}
            {% set type_training = "RH" %}
            {% else %}
            {% set type_training = "AUTRE" %}
            {% endif %}
            {# Card training #}
            <div class="col-md-6 col-lg-4 mb-4">
                <article class="card bg-white h-100 rounded shadow">
                    <div class="card-header text-center text-muted">
                        {{ type_training }}
                    </div>
                    <div class="card-body">
                        <h2 class="card-title h5">
                            {{ training.title }}
                        </h2>
                        <p class="card-text">
                            {{ training.description | striptags | u.truncate(300, '...') }}
                        </p>
                    </div>
                    <div class="card-footer mb-0">
                        <a class="btn btn-custom-color btn-block"
                           href="{{ path('app_training_pdf', {id: training.id}) }}" role="button">
                            Voir les détails
                        </a>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-danger mt-5 text-center">
            <p class="lead mt-3">Il y a {{ trainings_count }} Formations à afficher pour le moment.</p>
        </div>
        {% endif %}
    </section>

</div>
{% endblock %}